<div class="create-post-home" *ngIf="user">
  <img
    class="profile-img-home"
    src="https://lh3.googleusercontent.com/a/ACg8ocKg2ZPUoeuQ_xU5uAGLjoBCTSXhRPPB1mPc2GdP5pVI7VI=s96-c"
    alt="Img"
  />
  <input
    type="password"
    class="form-control create-post-input-home"
    id="exampleInputPassword1"
    placeholder="Create a Post"
    (click)="isOpenCreatePostPopup = true"
  />
  <img
    class="create-post-img"
    src="assets/create-post-logo-.png"
    alt="Create post Logo"
    (click)="isOpenCreatePostPopup = true"
  />
</div>

<div
  class="create-post-popup-container"
  *ngIf="isOpenCreatePostPopup"
>
  <div>
    <h4>Create a Post</h4>
    <hr />
  </div>

  <div class="choos-commnuity-box">
    <h5>Choose a Community:</h5>
    <div ngbDropdown class="d-inline-block">
      <button
        class="btn choose-community-btn"
        id="dropdownMenuButton"
        ngbDropdownToggle
      >
        {{ selectedSubredditForCreateNewPost }}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
        <button
          ngbDropdownItem
          *ngFor="let subraddit of subreddits"
          (click)="selectSubreddit(subraddit.name)"
        >
          {{ subraddit?.name }}
        </button>
        <!-- <button ngbDropdownItem>Another action</button>
        <button ngbDropdownItem>Something else here</button> -->
      </div>
    </div>
  </div>
  <div class="post-data-box">
    <div role="group" aria-label="Basic example">
      <button
        type="button"
        class="btn custom-btn"
        (click)="selectPostType('post')"
        [class.active]="selectedPostType === 'post'"
      >
        POST
      </button>
      <button
        type="button"
        class="btn custom-btn"
        (click)="selectPostType('url')"
        [class.active]="selectedPostType === 'url'"
      >
        URL
      </button>
      <button
        type="button"
        class="btn custom-btn"
        (click)="selectPostType('image')"
        [class.active]="selectedPostType === 'image'"
      >
        IMAGE
      </button>
    </div>
    <hr class="hr" />

    <ng-container [ngSwitch]="selectedPostType">
      <div *ngSwitchCase="'post'" class="input-boxes">
        <input
          class="form-control input"
          type="text"
          placeholder="Enter Title"
        />
        <textarea
          class="form-control input"
          id="exampleFormControlTextarea3"
          rows="5"
          placeholder="Enter Text"
        ></textarea>
      </div>
      <div *ngSwitchCase="'url'" class="input-boxes">
        <input
          class="form-control input"
          type="text"
          placeholder="Enter Title"
        />
        <textarea
          class="form-control input"
          id="exampleFormControlTextarea3"
          rows="5"
          placeholder="Enter URL"
        ></textarea>
      </div>
      <div *ngSwitchCase="'image'" class="input-boxes">
        <input
          class="form-control input"
          type="text"
          placeholder="Enter Title"
        />
        <textarea
          class="form-control input"
          id="exampleFormControlTextarea3"
          rows="3"
          placeholder="What's this image about?"
        ></textarea>
        <div class="choose-img-section">
          <div class="mb-3 choose-img-input">
            <input class="form-control" type="file" id="formFile" />
          </div>
        </div>
      </div>
      <div *ngSwitchDefault>Select a post type</div>
    </ng-container>
  </div>

  <div class="action-btns">
    <button type="button" class="btn create-post-btn">POST</button>
    <button
      type="button"
      class="btn create-post-btn"
      (click)="isOpenCreatePostPopup = false"
    >
      CANCEL
    </button>
  </div>
</div>
