<div class="create-post-home" *ngIf="user">
  <img
    class="profile-img-home"
    src="https://lh3.googleusercontent.com/a/ACg8ocKg2ZPUoeuQ_xU5uAGLjoBCTSXhRPPB1mPc2GdP5pVI7VI=s96-c"
    alt="Img"
  />
  <input
    type="password"
    class="form-control create-post-input-home"
    id="exampleInputPassword1"
    placeholder="Create a Post"
    (click)="showCreatePostPopup()"
  />
  <img
    class="create-post-img"
    src="assets/create-post-logo-.png"
    alt="Create post Logo"
    (click)="showCreatePostPopup()"
  />
</div>
