<div class="header">
  <div class="toolbar" role="banner">
    <img
      width="120"
      alt="Reddit Logo"
      src="assets/reddit_logo.png"
      (click)="goToHome()"
    />
    <img
      width="40"
      alt="Home Logo"
      src="assets/home_icon.png"
      (click)="goToHome()"
    />
    <div ngbDropdown class="d-inline-block dropdownLevel-box">
      <button
        class="btn btn-primary bg-white text-black border border-gray-300"
        id="dropdownMenuButton"
        ngbDropdownToggle
      >
        {{ selectedCommunity }}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
        <button ngbDropdownItem (click)="onChangeSelectedSubreddit('Show All')">
          Show All
        </button>
        <button
          ngbDropdownItem
          *ngFor="let subreddit of subreddits"
          (click)="onChangeSelectedSubreddit(subreddit.name)"
        >
          {{ subreddit.name }}
        </button>
      </div>
    </div>
    <div class="search-icon">
      <i class="bi bi-search"></i>
    </div>
    <input
      class="form-control input search-input"
      type="text"
      placeholder="Search"
      [(ngModel)]="searchPostsInput"
      (input)="onSearchPostsInputChange()"
    />
  </div>
  <ng-container *ngIf="!user; else userDetails">
    <div class="auth-context">
      <div class="login-box btn">
        <i class="bi bi-person-fill"></i>
        <button type="button" (click)="userLogin()">LOGIN</button>
      </div>
    </div>
  </ng-container>
  <ng-template #userDetails>
    <div class="auth-context">
      <button class="btn" (click)="showCreateCommunityPopup = true">
        CREATE A SUBRADDIT
      </button>
      <div class="profile-box">
        <img class="profile-img" [src]="user.photoURL" alt="Img" />
        <span class="uname">{{ user.displayName }}</span>
        <button class="btn" (click)="userLogout()">LOGOUT</button>
      </div>
    </div>
  </ng-template>
</div>

<div class="create-subraddit-popup-box" *ngIf="showCreateCommunityPopup">
  <h4>Create a Community</h4>
  <div class="form-group">
    <label class="name" for="exampleInputEmail1">Name</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      [(ngModel)]="communityInput"
    />
  </div>
  <div class="btn-err-box">
    <button
      class="btn create-community-btn"
      placeholder="Enter email"
      (click)="createCommunity()"
    >
      CREATE COMMUNITY
    </button>
    <p class="text-red" *ngIf="errText">{{ errText }}</p>
  </div>

  <i class="x-icon bi bi-x-lg" (click)="closeCreateCommunityPopup()"></i>
</div>
