<div class="comment-section">
  <div class="create-new-comment-section">
    <img class="img" [src]="comment.authorImg" alt="Author Img" />
    <div class="comment-flexitem-2">
      <p>{{ comment.author }}</p>
      <hr />
      <p class="comment-text">{{ comment.commentText }}</p>
      <div class="modify-actions-btn">
        <svg
          fill="#888"
          width="15px"
          height="15px"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          stroke="#888"
          class="upVote"
          [ngClass]="{ active: upVote }"
          (click)="onUpVote()"
        >
          <path
            d="M12.781 2.375c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10zM15 12h-1v8h-4v-8H6.081L12 4.601 17.919 12H15z"
          />
        </svg>
        <span class="voteScore">{{ voteScore }}</span>
        <svg
          fill="#888"
          width="15px"
          height="15px"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          stroke="#888"
          class="downVote"
          [ngClass]="{ active: downVote }"
          (click)="onDownVote()"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0" />
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <g id="SVGRepo_iconCarrier">
            <path
              d="M20.901 10.566A1.001 1.001 0 0 0 20 10h-4V3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v7H4a1.001 1.001 0 0 0-.781 1.625l8 10a1 1 0 0 0 1.562 0l8-10c.24-.301.286-.712.12-1.059zM12 19.399 6.081 12H10V4h4v8h3.919L12 19.399z"
            />
          </g>
        </svg>

        <span
          class="modify-btn"
          (click)="onOpenEditPopup()"
          *ngIf="comment.authorUserId === user?.uid"
          >Edit</span
        >
        <span
          class="modify-btn"
          (click)="onDeleteComment()"
          *ngIf="comment.authorUserId === user?.uid"
          >Delete</span
        >
        <span
          class="comment-timeStamp-badge"
          *ngIf="comment.createdAt !== comment.editedAt"
          >Edited</span
        >
        <span class="comment-timeStamp"
          >- {{ comment.createdAt | timeAgo }}</span
        >
      </div>
    </div>
  </div>
</div>
