.post-detail-section {
  background-color: #e4e4e4;
  padding: 24px;
  min-height: 90vh;
}

.post-detail-post {
  width: 70%;
  margin: 0 auto;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 4px;
  background-color: #fff;
}

.comment-section-parent {
  border-top: 1px solid rgb(206, 206, 206);
}

.comment-section {
  margin: 16px;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.create-new-comment-section {
  display: flex;
}

.img {
  border-radius: 50%;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.comment-flexitem-2 {
  flex: 1;
}

p {
  margin-bottom: 0;
}

.new-comment-input {
  width: 100%;
  padding: 2px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 4px;
  word-wrap: break-word;
  text-wrap: wrap;
}

.new-comment-input:focus {
  border: 1px solid gray;
  padding: 2px; /* Keep the original padding value */
}

.btn {
  align-self: center;
  margin-left: 8px;
  /* background-color: #ff4500; */
}

.comment-text {
  color: rgb(100, 100, 100);
  line-height: 1.4;
}

hr {
  margin: 0 0 8px 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}

.modify-actions-btn span {
  font-size: 12px;
  margin-right: 8px;
}

.comment-timeStamp,
.comment-timeStamp-badge {
  font-size: 12px;
  color: gray;
}

.comment-timeStamp-badge {
  padding: 2px 4px;
  background-color: rgb(241, 241, 241);
  border-radius: 4px;
  font-size: 11px !important;
  /* margin-right: -1px !important; */
}

/* Post Content */

.post-box {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  padding: 0 16px;
  display: flex;
}

.vote-container {
  width: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(216, 216, 216);
  padding: 16px 0;
}
.vote-icon {
  font-size: 20px;
  cursor: pointer;
}

.vote-icon.active {
  color: #1470f7;
}

.post-container {
  padding: 16px;
  width: 100%;
}

.post-header-box {
  display: flex;
  gap: 24px;
}

.subreddit-heading {
  padding-right: 8px;
  font-size: 18px;
}

.light-gray {
  color: rgb(114, 114, 114);
}

.post-header-box h5,
.post-header-box p {
  margin-bottom: 0;
}

.post-title {
  font-size: 22px;
  margin-bottom: 16px;
}
.post-text {
  line-height: 1.6;
  color: rgb(94, 94, 94);
  margin-bottom: 20px;
}

.comment-container {
  margin-top: 10px;
  display: flex;
  text-align: center;
  gap: 10px;
  cursor: pointer;
}

.comment-icon {
  font-size: 20px;
}

.post-img {
  max-width: 100%;
  border-radius: 4px;
  margin-bottom: 4px;
}

.modify-btn {
  cursor: pointer;
}

/* Update Comment Popup */

.create-subraddit-popup-box {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 600px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 4px;
  padding: 30px 36px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(107, 107, 107);
}

.create-subraddit-popup-box h5 {
  margin-bottom: 16px;
}

.edit-comment-input {
  width: 100%;
  padding: 2px 6px;
  box-sizing: border-box;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 4px;
  word-wrap: break-word;
  text-wrap: wrap;
}

.name {
  margin-bottom: 4px;
}

.text-red {
  color: red !important;
  margin-bottom: 0;
  width: 70%;
  line-height: normal;
  font-size: 14px;
}

.create-subraddit-popup-box input {
  border: 1px solid gray;
}

.x-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  font-weight: bold;
}

.btn-err-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.btn-err-box button {
  background-color: #ff4500;
  color: #ffffff;
  padding: 4px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-err-box button:active {
  background-color: #ff4500;
  color: #ffffff;
}

.text-red {
  color: red !important;
  margin-bottom: 0;
}

.dropdownLevel-box {
  width: 150px;
}

.blur {
  opacity: 0.3;
}

.create-comment-errText{
margin-left: 60px;
}