<div class="post-detail-section" [ngClass]="{ blur: showEditCommentPopup }">
  <div class="post-detail-post" *ngIf="post">
    <div *ngIf="post">
      <app-post [post]="post"></app-post>
    </div>

    <div *ngIf="isShowComment">
      <div class="comment-section-parent">
        <div class="comment-section">
          <div class="create-new-comment-section">
            <img class="img" [src]="user.photoURL" alt="" />
            <div class="comment-flexitem-2">
              <p>{{ user.displayName }}</p>
              <textarea
                class="new-comment-input form-control"
                placeholder="Write a Comment"
                [(ngModel)]="commentInput"
              ></textarea>
            </div>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              (click)="onSaveComment()"
            >
              Comment
            </button>
          </div>
          <p class="create-comment-errText text-red">{{ errText }}</p>
        </div>
      </div>
      <!-- Show Existing Comment -->
      <div class="comment-item" *ngFor="let comment of post?.comments">
        <div class="comment-section">
          <div class="create-new-comment-section">
            <img class="img" [src]="comment.authorImg" alt="Author Img" />
            <div class="comment-flexitem-2">
              <p>{{ comment.author }}</p>
              <hr />
              <p class="comment-text">{{ comment.commentText }}</p>
              <div class="modify-actions-btn">
                <span class="modify-btn" (click)="onOpenEditPopup(comment)"
                  >Edit</span
                >
                <span
                  class="modify-btn"
                  (click)="oneDeleteComment(comment.commentId)"
                  >Delete</span
                >
                <span
                  class="comment-timeStamp-badge"
                  *ngIf="comment.createdAt !== comment.editedAt"
                  >Edited</span
                >
                <span class="comment-timeStamp"
                  >- {{ comment.createdAt | timeAgo }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="create-subraddit-popup-box" *ngIf="showEditCommentPopup">
  <h5>Edit Comment</h5>

  <textarea
    class="edit-comment-input form-control"
    placeholder="Write whats on your mind"
    rows="4"
    [(ngModel)]="editCommentInput"
  ></textarea>

  <div class="btn-err-box">
    <div>
      <button
        class="btn create-community-btn btn-sm"
        placeholder="Enter email"
        (click)="onEditComment()"
      >
        EDIT
      </button>
      <button
        class="btn create-community-btn btn-sm"
        placeholder="Enter email"
        (click)="onClosePopup()"
      >
        CANCEL
      </button>
    </div>
    <p class="text-red">{{ errText }}</p>
  </div>

  <i class="x-icon bi bi-x-lg" (click)="onClosePopup()"></i>
</div>
