<div class="create-post-popup-container">
  <div>
    <h4>Create a Post</h4>
    <hr />
  </div>

  <div class="choose-commnuity-box">
    <h5>Choose a Community:</h5>
    <div ngbDropdown class="d-inline-block">
      <button
        class="btn choose-community-btn"
        id="dropdownMenuButton"
        ngbDropdownToggle
      >
        {{ selectedSubredditForCreateNewPost }}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
        <button
          ngbDropdownItem
          *ngFor="let subreddit of subreddits"
          (click)="selectSubreddit(subreddit.name)"
        >
          {{ subreddit?.name }}
        </button>
      </div>
    </div>
  </div>
  <div class="post-data-box">
    <div role="group" aria-label="Basic example">
      <button
        type="button"
        class="btn custom-btn"
        (click)="selectPostType('post')"
        [class.active]="selectedPostType === 'post'"
      >
        POST
      </button>
      <button
        type="button"
        class="btn custom-btn"
        (click)="selectPostType('url')"
        [class.active]="selectedPostType === 'url'"
      >
        URL
      </button>
      <button
        type="button"
        class="btn custom-btn"
        (click)="selectPostType('image')"
        [class.active]="selectedPostType === 'image'"
      >
        IMAGE
      </button>
    </div>
    <hr class="hr" />

    <ng-container [ngSwitch]="selectedPostType">
      <div *ngSwitchCase="'post'" class="input-boxes">
        <input
          class="form-control input"
          type="text"
          placeholder="Enter Title"
          [(ngModel)]="postTitle"
        />

        <div class="invalid-feedback">Please provide a valid city.</div>
        <textarea
          class="form-control input"
          id="exampleFormControlTextarea3"
          rows="5"
          placeholder="Enter Text"
          [(ngModel)]="postText"
        ></textarea>
      </div>
      <div *ngSwitchCase="'url'" class="input-boxes">
        <input
          class="form-control input"
          type="text"
          placeholder="Enter Title"
          [(ngModel)]="urlTitle"
        />
        <textarea
          class="form-control input"
          id="exampleFormControlTextarea3"
          rows="5"
          placeholder="Enter URL"
          [(ngModel)]="url"
        ></textarea>
      </div>
      <div *ngSwitchCase="'image'" class="input-boxes">
        <input
          class="form-control input"
          type="text"
          placeholder="Enter Title"
          [(ngModel)]="imgTitle"
          required
        />
        <textarea
          class="form-control input"
          id="exampleFormControlTextarea3"
          rows="3"
          placeholder="What's this image about?"
          [(ngModel)]="imgText"
          required
        ></textarea>

        <div class="choose-img-section">
          <div class="mb-3 choose-img-input">
            <input
              class="form-control"
              type="file"
              id="formFile"
              (change)="onFileSelected($event)"
            />
          </div>
        </div>
      </div>
      <div *ngSwitchDefault>Select a post type</div>
    </ng-container>
  </div>

  <div class="action-btns">
    <button type="button" class="btn create-post-btn" (click)="createPost()">
      POST
    </button>
    <button
      type="button"
      class="btn create-post-btn"
      (click)="hideCreatePostPopup()"
    >
      CANCEL
    </button>
    <p class="err-text">{{ errText }}</p>
  </div>
</div>
