.create-post-popup-container {
  width: 60%;
  position: fixed;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 24px;
  border-radius: 4px;
  border: 1px solid #6b6b6b;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h4 {
  margin-bottom: 0;
}

.choose-commnuity-box {
  display: flex;
  align-items: center;
  gap: 24px;
}

.choose-community-btn {
  background-color: #fff;
  border: 1px solid #d4d4d4;
}

.custom-btn {
  background-color: white;
  color: #313131;
  border: none;
  border-radius: 0;
  outline: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.custom-btn:active {
  border: none;
}

.custom-btn.active {
  border-bottom: 3px solid #ff6c36;
  background: linear-gradient(to top, #ff9f7c, #fceee9);
  box-shadow: none;
}

.custom-btn:focus {
  outline: none;
}

.input-boxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  border: 1px solid #b4b4b4;
  width: 60%;
}

.hr {
  margin-top: 0;
}

.create-post-btn {
  width: fit-content;
  background-color: #ff581c;
  color: #fff;
  padding: 4px 24px;
}

.create-post-btn:hover {
  background-color: #df3b00;
  color: #fff;
}

.action-btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.choose-img-input {
  width: 60%;
}

.choose-img-input input {
  border: 1px solid #b4b4b4;
}

.err-text {
  font-size: 15px;
  color: red;
  margin-bottom: 0;
}
