.home-container {
  background-color: rgb(228, 228, 228);
  min-height: 100vh;
  padding: 16px;
}

.filter-container,
.post-container-box {
  width: 60%;
  margin: 0 auto;
}

.filter {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 20px;
}

.no-post-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  color: rgb(94, 94, 94);
}

.sort-btn-active {
  background-color: #83afef;
}
