<div class="home-container">
  <create-post></create-post>

  <div class="filter-container">
    <div class="filter">
      <button type="button" class="btn btn-sm btn-outline-primary">
        LATEST
      </button>
      <button type="button" class="btn btn-sm btn-outline-primary">
        OLDEST
      </button>
      <button type="button" class="btn btn-sm btn-outline-primary">
        POPULAR
      </button>
    </div>
  </div>

  <div class="post-container-box">
    <app-post></app-post>
  </div>
</div>
